$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px

$button-radius: 8px;
$card-radius: 8px;

$regular-font: 400;
$semi-bold-font: 600;
$bold-font: 700;

$body-font: 'Avenir', sans-serif;

$black:#1c1c1c;
$dark-grey: #242424;
$medium-grey: #959595;
$light-grey: #f3f3f3;
$white: #FFFFFF;

$extra-dark-color: #111f28;
$dark-color: #305773;
$medium-color: #4B87B3;
$light-color: #66B8F2; //Primary
$extra-list-color: #a9d8fa;

$green: #158463;
$blue: #2E66E5;
$red: #C94515;
