@use "../../styles/partials/fonts";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.image-item {
    background-color: $white;
    padding: 1rem;
    display: flex;
    flex-direction: row;

    &__image {
        width: 20rem;
        height: 10rem;
        object-fit: cover;
        display: block;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
    }

    &__title {
        
    }

    &__description {

    }
}